/**
* Welcome to your ✨𝔲𝔱𝔦𝔩𝔦𝔱𝔶 𝔰𝔱𝔶𝔩𝔢𝔰✨!
* This file includes utility classes that are super simple
* and can be used to add general styles; variable definitions
* for colors; and styles to html, body, and other high level
* DOMs.
* 
* All utility classes start with a `u-` and all do
* one basic CSS thing (for example, making the font-weight
* 600 for bolding) or are super generic.
* 
* This is 𝙉𝙊𝙏 the place to define classes for components or
* do rigorous styling. You shoud not need to change this file
* much after initial creation.
*/

/* TODO: REPLACE WITH YOUR OWN FONT! */
@import url("https://fonts.googleapis.com/css2?family=Cute+Font&family=Open+Sans:wght@400;600&display=swap");

:root {
  --primary: #eeface;
  --primary--dim: #bddeb3;
  --primary--dark: #a1c374;
  --pink: #ffdbf7;
  --dark--pink: #c35ead;
  --brown: #b38977;
  --medgrey: #5e8f8f;

  --grey: #b3a896;
  --white: #fff;
  --black: black;
  --darker: #2f4858;
  --dark: #008a82;

  --xs: 4px;
  --s: 8px;
  --m: 16px;
  --l: 28px;
  --xl: 36px;
}
.u-space-between {
  justify-content: space-between;
}
.u-primary {
  color: var(--primary);
}
.u-primary--dim {
  color: var(--primary--dim);
}
body {
  margin: 0;
  padding: 0;
  font-family: "Cute Font", sans-serif;
  font-weight: 300;
  background-color: var(--primary);
}

form {
  flex-grow: 1;
}
.u-xlarge {
  font-size: 4vw;
  line-height: 2vw;
}
.u-med-large {
  font-size: 2vw;
  color: var(--grey);
}
.u-large {
  font-size: 3vw;
}
.u-medium {
  font-size: var(--m);
}
.u-small {
  font-size: var(--s);
}
.u-xsmall {
  font-size: var(--xs);
}
.u-flex {
  display: flex;
}
.u-ml-15 {
  margin-left: 1.5vw;
}
.u-flexColumn {
  display: flex;
  flex-direction: column;
}

.u-flex-justifyCenter {
  justify-content: center;
}

.u-flex-alignCenter {
  align-items: center;
}

.u-inlineBlock {
  display: inline-block;
}

.u-bold {
  font-weight: 600;
}

.u-textCenter {
  text-align: center;
}

.u-relative {
  position: relative;
}

.u-pointer {
  cursor: pointer;
}

.u-link {
  color: var(--primary);
  text-decoration: none;
  cursor: pointer;
}
.u-margin-xs {
  margin: var(--xs);
}
.u-link:hover {
  color: var(--primary--dim);
}
button {
  cursor: pointer;
  border: var(--xs) solid var(--black);
  padding: var(--xs);
  border-radius: none;
  font-family: "Cute Font", sans-serif;
  font-size: var(--l);
  background-color: var(--primary--dim);
}
button:hover {
  background-color: var(--primary--dark);
}
.u-overflow-scroll {
  overflow: scroll;
}
.pr-15 {
  padding-right: 1.5vw;
}
.pl-15 {
  padding-left: 1.5vw;
}
.pt-15 {
  padding-top: 1.5vw;
}
.pb-15 {
  padding-bottom: 1.5vw;
}
.pr-20 {
  padding-right: 2vw;
}
.pl-20 {
  padding-left: 2vw;
}
.u-space {
  margin-left: var(--l);
}

input {
  padding: 10px 15px;

  border-bottom: 2px solid #000000;
  border-radius: 0px;
  outline: none;
  transition: border-color 0.3s;

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: 4vh;
  width: 80%;
}

input:focus {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
