@import "../../utilities.css";
.button-overlay {
  position: relative;
  display: inline-block;

  margin: 0% 20% 0% 20%;
  padding: 0% 0% 0% 0%;
}
.button-overlay #notebook {
  top: 60%;
  left: 82.5%;
  padding-top: 8vh;
  padding-bottom: 8vh;
  padding-left: 5vw;
  padding-right: 5vw;
  background-color: transparent;
  border: none;
}
.button-overlay #pomodoro {
  top: 37%;
  left: 25%;
  padding-top: 8vh;
  padding-bottom: 8vh;
  padding-left: 5vw;
  padding-right: 5vw;
  background-color: transparent;
  border: none;
}
.button-overlay .room-button {
  position: absolute;
  transform: translate(-50%, -50%);
  /*border: var(--xs) solid #000000;*/
  cursor: pointer;

  font-family: "Cute Font", sans-serif;
  /*background: var(--white);*/
  opacity: 0%;
  transition: 0.3s;
  font-size: 2vw;
  color: transparent;
}
.button-text {
  background-color: var(--primary);
  border: var(--xs) solid black;
  padding: 1vw;
  border-radius: var(--xs);
}
.button-overlay #todo {
  top: 60%;
  left: 40%;
  padding-right: 1.5vw;
  padding-left: 1.5vw;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  background-color: transparent;
  border: none;
}
.button-overlay #calendar {
  top: 50%;
  left: 63%;
  padding-right: 1.5vw;
  padding-left: 1.5vw;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  background-color: transparent;
  border: none;
}
.button-overlay .room-button:hover {
  color: black;
  opacity: 100%;
}

.notebook {
  margin-top: -2vh;
  border: var(--xs) solid var(--black);
  cursor: pointer;
  border-radius: 6px;
  padding: 5% 5%;
  font-family: "Cute Font", sans-serif;
  background: var(--white);
  opacity: 95%;
  transition: 0.3s;
  font-size: 3vw;
}

.gcal {
  margin-top: -2vh;
  border: var(--xs) solid var(--black);
  cursor: pointer;
  border-radius: 6px;
  padding: 5% 5%;
  font-family: "Cute Font", sans-serif;
  background: var(--white);
  opacity: 95%;
  transition: 0.3s;
  font-size: 3vw;
}

.button-overlay .display-box {
  font-size: 3vw;
  top: 0;
  right: 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border: var(--xs) solid var(--black);
  cursor: pointer;
  border-radius: 6px;
  padding: 5% 5%;
  font-family: "Cute Font", sans-serif;

  background: var(--white);
  opacity: 95%;
  transition: 0.3s;
}
.button-overlay .notebook {
  width: 80vw;
  height: 75vh;
}

.width-todo-list {
  width: 60vw;
  overflow-y: scroll;
  max-height: 100%;
  height: 90vw;
}
