@import "../../utilities.css";
.friend-list {
  overflow-y: scroll;
  height: 50vh;
  margin-left: 10vw;
  margin-right: 10vw;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: var(--s);
  background-color: var(--primary--dim);
}
.find {
  align-items: center;
  justify-content: center;
}
.search-field {
  margin-right: 1.5vw;
}

.friend {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: var(--s);
  box-shadow: 4px 4px 10px var(--dark--pink);
  background-color: var(--primary);
  /*border: 1px solid var(--dark--pink);*/
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 2vh;
  text-align: center;
}
.not-found {
  text-align: center;
}
.requests {
  margin-left: 10vw;
  margin-right: 10vw;
  text-align: center;
  border: 3px solid var(--primary--dim);
  padding-top: 1vh;
  padding-bottom: 1vh;

  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: var(--s);
  margin-bottom: 5vh;
}
.search {
  border: none;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: var(--xs);
}
