@import "../../utilities.css";
.info-heading {
  font-size: 65px;
  font-weight: bold;
}
.info-productive-text {
  border-right: solid 3px #bddeb3;
  white-space: nowrap;
  overflow: hidden;
  font-family: "Cute Font", sans-serif;
  font-size: 45px;
  color: black;
  animation: animated-text 4s steps(29, end) 1s 1 normal both,
    animated-cursor 600ms steps(29, end) infinite;
}
/*https://stackoverflow.com/questions/1202425/making-the-main-scrollbar-always-visible
https://stackoverflow.com/questions/50817727/change-scrollbar-height*/

@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 638px;
  }
}

@keyframes animated-cursor {
  from {
    border-right-color: #bddeb3;
  }
  to {
    border-right-color: transparent;
  }
}

.info-navigate-container ::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
.info-navigate-container ::-webkit-scrollbar-track {
  margin-top: 2vh;
  margin-bottom: 2vh;
  margin-right: 1vw;
}
.info-navigate-container ::-webkit-scrollbar-thumb {
  border-radius: var(--xs);
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.info-navigate-container {
  color: black;
  background: #f5fde0;
  padding: 8px;
  width: 40vw;
  height: 40vh;
  margin: 20px;
  border: 2px solid black;
  border-radius: var(--s);
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-instruction-heading {
  font-weight: bold;
  padding-top: 11px;
  padding-bottom: 5px;
  font-size: 40px;
  color: var(--primary--dark);
}

.info-instruction-text {
  font-size: 35px;
  color: var(--newgrey);
  padding: 5px;
  margin-left: 2.5vw;
  margin-right: 2vw;
}

.info-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.instruction-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
}

.info-image-text-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.info-story-image {
  width: 20%;
  height: 20%;
  margin-top: 40px;
  margin-left: 20px;
}

.info-nav-image {
  width: 20%;
  height: 20%;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 40px;
}
