.info-heading {
  font-size: 65px;
  font-weight: bold;
}
.About-typewriter {
  border-right: solid 3px #bddeb3;
  white-space: nowrap;
  overflow: hidden;
  font-family: "Cute Font", sans-serif;
  font-size: 45px;
  color: black;
  animation: animated-text 4s steps(29, end) 1s 1 normal both,
    animated-cursor 600ms steps(29, end) infinite;
}

.info-navigate-container {
  color: black;
  background: #f5fde0;
  padding: 8px;
  width: 40vw;
  height: 40vh;
  margin: 20px;
  border: 2px solid black;
  border-radius: 25px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-instruction-heading {
  font-weight: bold;
  padding-top: 11px;
  padding-bottom: 5px;
  font-size: 40px;
}

.info-instruction-text {
  font-size: 35px;
  color: #626262;
  padding: 5px;
  margin-left: 2.5vw;
  margin-right: 2vw;
}

.info-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 638px;
  }
}

@keyframes animated-cursor {
  from {
    border-right-color: #bddeb3;
  }
  to {
    border-right-color: transparent;
  }
}

.instruction-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
}

.info-image-text-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.info-story-image {
  width: 20%;
  height: 20%;
  margin-top: 40px;
  margin-left: 20px;
}

.info-nav-image {
  width: 20%;
  height: 20%;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 40px;
}