.login {
  text-align: center;
  font-family: "Cute Font", sans-serif;
  font-size: 5vh;
}

.ranking {
  width: 100vw;
  height: auto;
  text-align: center;
  bottom: 0;
  left: 0;
  margin-top: 10vh;
}

.leaderboard-container {
  display: flex;
  height: 80vh; /* 100% of the viewport height */
}

.leaderboard-section {
  flex: 1; /* Each section takes equal space */
  /* border: 1px solid #ddd; /* Optional: Add borders for better visualization */
  padding: 1vw; /* Optional: Add padding for better spacing */
}

.leaderboard-text-image-container {
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  height: 80vh; /* 100% of the viewport height */
}

.leaderboard-text-image {
  width: 20vw; /* Set the desired width */
  height: auto;
}

.leaderboard-board-image {
  width: 48vw; /* Set the desired width */
  height: auto;
  object-fit: cover;
}

.leaderboard-avatar-image {
  width: 20vw; /* Set the desired width */
  height: auto;
}

.leaderboard-image-overlay {
  position: relative;
}

.first-leaderboard-text-overlay {
  position: absolute;
  top: 19.3%; /* Adjust to vertically center the text */
  left: 50%; /* Adjust to horizontally center the text */
  transform: translate(-50%, -50%); /* Center the text using translation */
  color: black; /* Set the text color */
  font-size: 3vw; /* Set the text font size */
  font-weight: bold; /* Set the text font weight */
  text-align: center; /* Center the text horizontally */
  z-index: 1; /* Place the text above the image */
}

.first-exp-text-overlay {
  position: absolute;
  top: 24.1%; /* Adjust to vertically center the text */
  left: 50%; /* Adjust to horizontally center the text */
  transform: translate(-50%, -50%); /* Center the text using translation */
  color: #dfdede; /* Set the text color */
  font-size: 2vw; /* Set the text font size */
  font-weight: bold; /* Set the text font weight */
  text-align: center; /* Center the text horizontally */
  z-index: 1; /* Place the text above the image */
}

.second-leaderboard-text-overlay {
  position: absolute;
  top: 43%; /* Adjust to vertically center the text */
  left: 50%; /* Adjust to horizontally center the text */
  transform: translate(-50%, -50%); /* Center the text using translation */
  color: black; /* Set the text color */
  font-size: 3vw; /* Set the text font size */
  font-weight: bold; /* Set the text font weight */
  text-align: center; /* Center the text horizontally */
  z-index: 1; /* Place the text above the image */
}

.second-exp-text-overlay {
  position: absolute;
  top: 47.7%; /* Adjust to vertically center the text */
  left: 50%; /* Adjust to horizontally center the text */
  transform: translate(-50%, -50%); /* Center the text using translation */
  color: #dfdede; /* Set the text color */
  font-size: 2vw; /* Set the text font size */
  font-weight: bold; /* Set the text font weight */
  text-align: center; /* Center the text horizontally */
  z-index: 1; /* Place the text above the image */
}

.third-leaderboard-text-overlay {
  position: absolute;
  top: 66.2%; /* Adjust to vertically center the text */
  left: 50%; /* Adjust to horizontally center the text */
  transform: translate(-50%, -50%); /* Center the text using translation */
  color: black; /* Set the text color */
  font-size: 3vw; /* Set the text font size */
  font-weight: bold; /* Set the text font weight */
  text-align: center; /* Center the text horizontally */
  z-index: 1; /* Place the text above the image */
}

.third-exp-text-overlay {
  position: absolute;
  top: 70.7%; /* Adjust to vertically center the text */
  left: 50%; /* Adjust to horizontally center the text */
  transform: translate(-50%, -50%); /* Center the text using translation */
  color: #dfdede; /* Set the text color */
  font-size: 2vw; /* Set the text font size */
  font-weight: bold; /* Set the text font weight */
  text-align: center; /* Center the text horizontally */
  z-index: 1; /* Place the text above the image */
}

.flex-leaderboard-text-container {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  height: 80vh; /* Adjust the height as needed */
}

.leaderboard-exp-text {
  margin-top: 1px; /* Adjust the space between image and text */
  text-align: center; /* Center the text */
  color: #767676;
  font-size: 4vw;
}
