.login {
  text-align: center;
  font-family: "Cute Font", sans-serif;
  font-size: 40px;
}

.profile-container {
  display: flex;
  justify-content: center;
  align-content: center;
}

.left-half {
  flex: 1;
  margin-top: 2vh;
}

.right-half {
  flex: 1;
  margin-top: 2vh;
  justify-content: center;
}

.board {
  font-size: 3.2vw;
  color: white;
  background: var(--darker);
  padding: 5px;
  width: 40vw;
  height: 60vh;
  margin: auto;
  border: 6px solid var(--black);
  border-radius: 15px;
  overflow-y: scroll;
}

.name {
  font-family: "Cute Font", sans-serif;
  font-size: 3.2vw;
  margin-left: 14vw;
}

.exp {
  font-family: "Cute Font", sans-serif;
  font-size: 3.2vw;
  margin-left: 7vw;
}

.avatar-image {
  width: 50%;
  display: block;
  font-size: 3.2vw;
  margin-left: 7vw;
  justify-content: center;
}
.userId {
  margin-left: 0vw;
  margin-right: 10vw;
  margin-bottom: 1vw;
  font-size: 1.5vw;
  padding-left: 1.5vw;
  background-color: var(--primary--dim);
  border: var(--xs) solid black;
}
.story-div {
  white-space: pre-line;
}
