@import "../../utilities.css";
.login {
  text-align: center;
  font-family: "Cute Font", sans-serif;
  font-size: 40px;
}

.profile-container {
  display: flex;
  justify-content: center;
  align-content: center;
}

.left-half {
  flex: 1;
  margin-top: 4vh;
  display: flex;
  flex-direction: column;
  height: 80vh;
}

.middle-half {
  flex: 1;
  margin-top: 0.5vh;
  display: flex;
  flex-direction: column;
}

.right-half {
  flex: 1;
  margin-top: 0vh;
  justify-content: center;
  height: 80vh;
}
.story-container {
  margin: 3vw;
}
.toggle-button-container {
  padding: 5px;
  display: flex;
  width: 50vw;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.toggleButton {
  border-radius: 8px;
  width: 20vw;
  margin-bottom: 10vh;

  cursor: pointer;
  border: 2px solid black;
  padding: var(--xs);
  border-radius: none;
  font-family: "Cute Font", sans-serif;
  font-size: var(--l);
}

.board {
  font-size: 3.2vw;
  color: white;
  background: #f5fde0;
  padding: 5px;
  width: 40vw;
  height: 60vh;
  margin-left: 5vw;
  border: 2px solid black;
  /* border: 6px solid var(--black); */
  border-radius: var(--s);
  overflow-y: scroll;
}
.comment-section {
  overflow-y: scroll;
}

.exp {
  font-family: "Cute Font", sans-serif;
  font-size: 4vh;
  margin-left: 11.5vh;
  color: black;
}
.accent {
  color: var(--dark--pink);
}

.new-userid {
  font-family: "Cute Font", sans-serif;
  font-size: 4vh;
  margin-left: 11.5vh;
  color: black;
}

.avatar-image {
  height: 64vh;
  /*display: block;*/
  font-size: 3.2vw;
  margin-left: 7vw;
  justify-content: center;
}
.userId {
  margin-left: 0vw;
  margin-right: 10vw;
  margin-bottom: 1vw;
  font-size: 1.5vw;
  padding-left: 1.5vw;
  background-color: var(--primary--dim);
  border: var(--xs) solid black;
}
.story-title {
  color: black;
}

.story-div {
  color: black;
  white-space: pre-line;
}

.profile-image-text-container {
  position: relative;
  display: inline-block;
}

.name {
  font-family: "Cute Font", sans-serif;
  font-size: 2.2vh;
  margin-left: 13vw;
}

.all-caps {
  text-transform: uppercase;
}

.profile-overlay-text {
  position: absolute;
  top: 45%; /* Adjust the value to vertically center the text */
  left: 54.5%; /* Adjust the value to horizontally center the text */
  transform: translate(-50%, -50%);
  color: black; /* Text color */
  font-size: 12vh; /* Adjust the font size as needed */
  text-align: center;
  white-space: nowrap;
}

.achievement-text {
  color: black;
  align-items: center; /* Center items vertically */
  justify-content: center;
  margin-top: 4vw;
  font-size: 3.5vw;
}

.achievement-earned-text {
  color: black;
  text-align: center;
}

.achievement-title-container {
  display: flex;
  align-items: center;
}

.medal-image {
  margin-left: 5%;
  width: 20%;
  height: auto;
}

.profile-animated-text {
  animation: move-text-color 0.75s forwards;
  opacity: 0;
}

@keyframes move-text-color {
  0% {
    bottom: -0.2em;
    opacity: 1;
    color: #3e5c76;
  }

  50% {
    bottom: 0.2em;
    color: var(--dark--pink);
  }

  100% {
    bottom: 0;
    opacity: 1;
    color: var(--primary--dark);
  }
}
