.login {
  text-align: center;
  font-family: "Cute Font", sans-serif;
  font-size: 40px;
}

.profile-container {
  display: flex;
  justify-content: center;
}

.left-half {
  flex: 1;
  padding: 1rem;
}

.right-half {
  flex: 1;
  padding: 1rem;
}

.board {
  background: #b38977;
  padding: 5px;
  width: 75%;
  max-height: 65%;
  margin: auto;
  margin-top: 4%;
  border: 8px solid #594038;
  border-radius: 15px;
  overflow-y: scroll;
}

.name {
  font-family: "Cute Font", sans-serif;
  font-size: 3.2vw;
  text-align: center;
}

.avatar-image {
  width: 50%;
  display: block;
  margin: auto;
  margin-top: 28%;
}

.comment {
  height: 10%;
  padding: 4%;
  margin: 4%;
  background-color: #ffff;
  color: black;
  font-size: 2.2vw;
}
