@import url("https://fonts.googleapis.com/css2?family=Cute+Font&family=Open+Sans:wght@400;600&display=swap");

/* Fill me in :) */
.welcome {
  text-align: center;
  font-family: "Cute Font", sans-serif;
  font-size: var(--l);
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

#roomdisplay {
  width: 100%;
}
.login {
  margin: 5% auto 10% auto;
  height: 80vh;
}
.display {
  margin-top: 30%;
}
.key_img {
  width: 6vw;
  height: 100%;
}

.door_img {
  height: 80vh;
}

.textdisplay {
  margin-top: 0%;
  margin-bottom: 0%;
  margin-left: 30%;
  margin-right: 30%;
}
.game {
  overflow-x: hidden;
}

.login-container {
  display: flex;
  justify-content: center; /* Adjust as needed: flex-start, flex-end, space-between, space-around, etc. */
  align-items: center; /* Align vertically in the center */
}

.login-welcome-text {
  margin-top: -20px;
  font-size: 40px;
  white-space: pre-line;
}

.login-roomcraft-text {
  font-size: 80px;
  margin-top: -20px;
  margin-bottom: -10px;
}

.login-directions-text {
  font-size: 28px;
  margin-top: 0px;
  color: #a1a1a1;
}

.login-directions2-text {
  font-size: 28px;
  margin-top: 0px;
  color: #a1a1a1;
  margin-bottom: 15px;
}

.login-text-container {
  display: flex;
  flex-direction: column; /* Arrange items vertically */
  align-items: flex-start; /* Align items to the left horizontally */
}

.key-login-container {
  display: flex;
  justify-content: space-between; /* Adjust this property based on your alignment needs */
  align-items: center;
}
