@import url("https://fonts.googleapis.com/css2?family=Cute+Font&family=Open+Sans:wght@400;600&display=swap");

/* Fill me in :) */
.welcome {
  text-align: center;
  font-family: "Cute Font", sans-serif;
  font-size: var(--l);
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  /*overflow-y: hidden;*/
}

#roomdisplay {
  width: 100%;
}
.login {
  margin: 10% auto 10% auto;
  width: 80%;
}
.display {
  margin-top: 30%;
}
.key_img {
  width: 10%;
}
.textdisplay {
  margin-top: 0%;
  margin-bottom: 0%;
  margin-left: 30%;
  margin-right: 30%;
}
.game {
  overflow-x: hidden;
}
