@import "../../utilities.css";
.todo-border-button {
  cursor: pointer;
  border: 2px solid black;
  padding: var(--s);
  border-radius: 5px;
  font-family: "Cute Font", sans-serif;
  font-size: var(--l);
  margin: 1.5px;
  background-color: var(--primary);
}

.todo-border-button:hover {
  background-color: var(--primary--dim);
}

.todo-title {
  display: block;
  font-size: 2.2em;
  font-weight: bold;
  margin-bottom: 15px;
}

.todo-heading {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 12px;
  margin-bottom: -15px;
}
