.align {
  display: flex;
  align-items: center;
}

.input-box {
  border: 2px solid #404040;
  border-radius: 5px;
}

.add_button {
  width: 20%;
}

.todo-border-button {
  cursor: pointer;
  border: 2px solid black;
  padding: var(--s);
  border-radius: 5px;
  font-family: "Cute Font", sans-serif;
  font-size: var(--l);
  margin: 1.5px
}