.align {
  display: flex;
  align-items: center;
}

.input-box {
  border: none;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.add_button {
  width: 20%;
}

.todo-border-button {
  cursor: pointer;
  border: 2px solid black;
  padding: var(--s);
  border-radius: 5px;
  font-family: "Cute Font", sans-serif;
  font-size: var(--l);
  margin: 1.5px;
}

.empty-h2 {
  margin-bottom: -20px;
}
