.todo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 0vw;
  margin-right: 0vw;
  margin-top: 1vh;
  margin-bottom: vh;
}

.todo-border-button {
  cursor: pointer;
  border: var(--xs) solid black;
  padding: var(--s);
  border-radius: var(--xs);
  font-family: "Cute Font", sans-serif;
  font-size: var(--l);
}

.form-group {
  display: inline-block;
  margin-top: 0.4rem;
}
.item-name {
  font-size: var(--xl);
}
.edit-input-box {
  border: 2.5px solid #404040;
  border-radius: var(--xs);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.edit-input-box:focus {
  border: 2.5px solid #404040 !important;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.todo-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  padding: 1vw;
  /*border-top: 2px solid black;
  border-bottom: 2px solid black;*/
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
}

.checkbox-container {
  display: flex;
  align-items: center;
}

.checkbox-style {
  width: 3vw;
  box-shadow: none;
}
.checkbox-style .input {
  width: 3vw;
  box-shadow: none;
}
.checkbox-style:focus {
  width: 3vw;
  box-shadow: none;
}

.item-entry-container {
  display: flex;
  justify-content: space-between; /* Adjust this property based on your alignment needs */
  align-items: center;
  width: 100%;
}

.item-button-container {
  margin-left: auto;
}
