.todo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 7px;
  margin-bottom: 7px;
}

.todo-border-button {
  cursor: pointer;
  border: 2px solid black;
  padding: var(--s);
  border-radius: 5px;
  font-family: "Cute Font", sans-serif;
  font-size: var(--l);
  margin: 1.5px;
}

.form-group {
  display: inline-block;
  margin-top: 0.4rem;
}

.edit-input-box {
  border: 2.5px solid #404040;
  border-radius: 5px;
}

.todo-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  padding-top: 10px;
  padding-bottom: 10px;
  border: 2px solid black;
}

.checkbox-container {
  display: flex;
  align-items: center;
}

.checkbox-style {
  width: 30px;
}

.item-entry-container {
  display: flex;
  justify-content: space-between; /* Adjust this property based on your alignment needs */
  align-items: center;
  width: 100%;
}

.item-button-container {
  margin-left: auto;
}

