@import "../../utilities.css";
/* Fill me in :) */
.NavBar {
  background-color: var(--primary--dim);
}

.NavBar-linkContainer {
  margin-left: var(--l);
  font-family: "Cute Font", sans-serif;
  font-size: var(--l);
}

.u-inline {
  display: inline-block;
}
.NavBar-link,
.NavBar-link:visited {
  color: var(--white);
  opacity: 0.6;
  text-decoration: none;
}

.NavBar-link:hover {
  opacity: 0.9;

  text-decoration: underline;
}

.NavBar-link.NavBar-login {
  opacity: 1;
}

.NavBar-link + .NavBar-link {
  margin-left: var(--m);
}
