@import "../../utilities.css";

#collapse {
  background-color: transparent;
  border: none;
}
.NavBar-linkContainer {
  margin-left: var(--l);
  font-family: "Cute Font", sans-serif;
  font-size: var(--xl);
}
#logout {
  background-color: transparent;
  border: none;
}
.u-inline {
  display: inline-block;
}
.NavBar-link,
.NavBar-link:visited {
  color: var(--black);
  opacity: 1;
  text-decoration: none;
}
.NavBar-link:hover {
  color: var(--dark--pink);
}
button {
  box-shadow: none;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 10, "opsz" 24;
  color: black;
}
.material-symbols-outlined:hover {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 10, "opsz" 24;
  color: var(--dark--pink);
}

.tooltip {
  position: relative;
  border-bottom: 1 pm dashed #000;
}
.website-card {
  font-size: 100%;
}
.tooltip:before {
  content: attr(data-text); /* here's the magic */
  position: absolute;

  /* horizontally center */
  left: 50%;
  transform: translateX(-50%);

  /* move to bottom */
  bottom: 60%;
  margin-bottom: 15px; /* and add a small left margin */

  /* basic styles */
  width: 60px;
  padding: 5px;
  border-radius: var(--xs);
  background: #000;
  color: #fff;
  text-align: center;
  font-size: var(--m);
  display: none; /* hide by default */
}
.tooltip:after {
  content: "";
  position: absolute;

  /* position tooltip correctly */
  bottom: 60%;
  margin-bottom: 0px;

  /* vertically center */
  left: 50%;
  transform: translateX(-50%);

  /* the arrow */
  border: 10px solid #000;
  border-color: black transparent transparent transparent;

  display: none;
}
.tooltip:hover:before,
.tooltip:hover:after {
  display: block;
}
.NavBar-link:hover {
  opacity: 0.9;

  text-decoration: underline;
}

.NavBar-link.NavBar-login {
  opacity: 1;
}

.NavBar-link + .NavBar-link {
  margin-left: var(--m);
}
